body{
    margin: 0;
    padding: 0;
}
.wrapper{
    /* border: 1px solid #000; */
    height: auto;
    width: 100%;
    margin: 0 auto;
}
i.fa.fa-plus.fa-style{
    color: #000;
    font-size: 10px;
}
i.fa.fa-plus.fa-style :hover{
    color: brown;
}
.wrapper_chitiet{
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.hinhanh_sanpham{
    float: left;
    width: 25%;
}
.chitiet_sanpham{
    float: left;
    width: 45%;
    margin: 0 10px;
}
input.themgiohang{
    border: none;
    background: brown;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
.header{
    background-image: url("../images/banner3.png") ;
    background-repeat: no-repeat;
    background-size: 100% 150px;
    border: 1px solid #ff80ff;
    height: 150px;
    width: 100%;
    /* background: #ff0080; */
}
.menu{
    border: 1px solid #ffffff;
    height: 50px;
    width: 100%;
    background: #8cd8fe;
    /* line-height: 50px; */
}
ul.list_menu {
    padding: 0;
    margin: 0 ;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
    line-height: 27px;
}
ul.list_menu li:hover{
    background: burlywood;

}
ul.list_menu li a{
    text-decoration: none;
    text-align: center;
    color: #000;

}

ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}
 #main{
    border: 1px solid #fafffd;
    height: auto;
    width: 100%;
}  
.sidebar{
    /* border: 1px solid #000066; */
    height: 200px;
    width: 19%;
    margin-top:5px ;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar {
    margin-left: 70px;
    padding: 0;
    /* margin: 0 ; */
    list-style: none;
    width: 70%;
    border: 1px solid #000;
    list-style: 27px;
}
ul.list_sidebar li:hover{
    background: cyan;

}
ul.list_sidebar li a{
    text-decoration: none;
    text-align: left;
    color: #000;
    display: block;

}

ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}

.maincontent{
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.product_list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li{
    width: 18%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
    /* background: #f2f2f2; */
    height: 300px;
}
ul.product_list li img{
    width: 100%;
}
ul.product_list li a{
    text-decoration: none;
}
p.title_product{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;

}
p.price_product{
    text-align: center;
    color: rgb(223, 0, 0);
    font-size: 16px;
    font-weight: bold;
}
.footer{
    border: 1px solid #ff1a8c;
    height: 60px;
    width: 100%;
    background: #ffffff;
}
p.footer_copyright{
    text-align: center ;
    color: #000000;
}
.clear{
    clear: both;
}